.dropdown {
  padding: 0.5rem 1rem;
  border: 1px solid var(--foreground-color-subtle);
  background-color: var(--background-color-light);
  color: var(--foreground-color);
  border-radius: 0.5rem;
  font-family: var(--font-body);
  transition: border-color 0.2s, background-color 0.2s;
}

.dropdown:hover {
  border-color: var(--accent-color);
}

.dropdown:focus {
  outline: none;
  border-color: var(--accent-color-light);
  box-shadow: 0 0 0 2px var(--accent-color-light);
}
