.input-box {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--foreground-color-subtle);
  background-color: var(--background-color-light);
  color: var(--foreground-color);
  font-family: var(--font-body);
  font-size: 1rem;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.input-box::placeholder {
  color: var(--foreground-color-subtle);
}

.input-box:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--accent-color-light);
  background-color: var(--background-color);
}
