.container {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--container-max-width, var(--container-max));
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
}

.container--padding-v-xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}
.container--padding-v-sm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}
.container--padding-v-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
}
.container--padding-v-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}
.container--padding-v-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}
.container--padding-v-2xl {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
}
.container--padding-v-3xl {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
}
.container--padding-v-4xl {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
}


.container {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
}

@media (min-width: 768px) {
    .container {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.container--align-center {
    text-align: center;
}

.container--align-left {
    text-align: left;
}