.grid {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;

    gap: var(--grid-gap);
    align-items: var(--grid-align-items);
    justify-items: var(--grid-justify-items);

    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--grid-min-col-size), 1fr)
    );
}

.grid > * {
    grid-column: span 1 / auto;
    min-width: 0;
}

.grid__item--span {
    grid-column: span var(--grid-col-span, 1) / auto;
}