.noContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 20vw;

    img {
        width: 10rem;
        aspect-ratio: 1;
        font-family: var(--font-emoji);
    }

    h1 {
        display: block;
        text-align: center;
        margin-bottom: var(--space-xl);
    }
}