.stack {
    display: flex;
    box-sizing: border-box;
    
    gap: var(--stack-gap);
    min-width: 0;
    align-items: var(--stack-align);
    justify-content: var(--stack-justify);
}

.stack--column {
    flex-direction: column;
}

.stack--row {
    flex-direction: row;
}

.stack--column-reverse {
    flex-direction: column-reverse;
}

.stack--row-reverse {
    flex-direction: row-reverse;
}


.stack--wrap {
    flex-wrap: wrap;
}
