*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: var(--font-body);
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: 0.2s ease-in-out;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Anchor tags */
a {
  text-decoration: none;
  color: inherit;
}