.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-body);
  cursor: pointer;
}

.checkbox-input {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--accent-color);
  border: 1px solid var(--foreground-color-subtle);
  border-radius: 0.25rem;
  transition: all 0.2s;
  cursor: pointer;
}

.checkbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color-light);
}

.checkbox-label {
  color: var(--foreground-color);
  user-select: none;
}
