.card {
  background-color: var(--background-color-light);

  border-radius: var(--size-sm); 

  padding: 1.5rem;
}

.card {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@media (min-width: 768px) {
  .card {
    padding: 2rem;
  }
}