.feed-nest-main-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.nest-title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm);
}

.nest-title-container h3 {
    margin: 0;
    padding: 0;
}

.feed-nest-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    background-color: var(--background-color-light);
    border-radius: var(--radius-sm);
    padding: var(--space-sm);
    cursor: pointer;
    border: 2px transparent solid;
    transition: 150ms ease-out;
}

.feed-nest-card:hover {
    border: 2px solid var(--accent-color);
}

.feed-nest-card-content {
    width: 100%;
}

.feed-nest-card-content span {
    font: var(--font-heading);
    font-size: var(--size-lg);
    font-weight: bold;
}

.feed-nest-card-content p {
    font: var(--font-body);
    font-size: var(--size-md);

}

.feed-nest-card > img {
    height: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
}

.feed-nest-card-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground-color-subtle);
}

.feed-nest-card-title-container img {
    height: 1.5rem;
    aspect-ratio: 1;
}