.account-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--background-color);
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--background-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.account-title {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}


.link-button {
  background: none;
  border: none;
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-section,
.display-name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid var(--accent-color);
}

.display-name-input {
  padding: 0.5rem 1rem;
  width: 80%;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  font-size: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}