---
import Template from "../../components/template.astro";
import Button from "../../components/ui/Button/Button";
---

<Template>
  <div
    style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  "
  >
    <div
      style="padding: 2rem; text-align: center; width: 500px;"
    >
      <h2
        style="
        font-family: var(--font-heading);
        margin-bottom: 1.5rem;
      "
      >
      Welcome to <span style="font-family: var(--font-title)">TOPICALBIRD</span>
      </h2>

      <a href="/auth/login">
        <Button client:only="react" variant="primary">Login</Button></a
      >
      <a href="/auth/register">
        <Button client:only="react" variant="secondary">Register</Button></a
      >
    </div>
  </div>
</Template>
