.avatar-container {
    font-family: var(--font-heading);
    position: relative;
    display: inline-block;
}

.avatar-container img {
    border: thin solid var(--accent-color);
}

.avatar-dropdown {
    font-family: inherit;
    position: absolute;
    right: 0;
    background: var(--background-color);
    color: var(--foreground-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: thin solid var(--accent-color);
}

.avatar-dropdown-link {
    font-family: inherit;
    color: inherit;
    display: block;
    padding: 8px;
    text-decoration: none;
    transition: ease-in-out .2s;
}

.avatar-dropdown-link:hover {
    background-color: var(--accent-color);
    color: #fff;
}