.nest-change-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.nest-preview-card {
    width: 100%;
    background-color: var(--background-color-light);
    padding: var(--space-lg);
    border-radius: var(--radius-sm);
}

.nest-change-h3 {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem 0;
        padding: 0;
    }

.preview-icon-container {
    display: flex;
    gap: var(--size-sm);
    align-items: center;
    justify-content: center;
    img {
        width: 250px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 4px solid var(--accent-color);
    }
}

.nest-change-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    background-color: var(--background-color-light);
    padding: var(--space-lg);
    border-radius: var(--radius-sm);
}

.form-action-buttons {
    display: flex;
    width: 100%;
    gap: var(--space-sm);
}

.form-action-buttons > button[type=submit] {
    width: 100%;
    
}


@media (min-width: 900px) {
    .nest-change-container {
        flex-direction: row;
    }

    .nest-preview-card {
        flex: 0 0 40%;
        width: 100%;
    }

    .nest-change-form {
        flex: 0 0 60%;
    }
}