@import "tailwindcss";
@import "tw-animate-css";

@import "./global/reset.css";
@import "./global/typography.css";
@import "./global/defaults.css";
@import "./global/themes/index.css";
@import "./global/scroll.css";
