
.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;


    background-color: var(--card-bg, var(--background-color-light));
    border-radius: var(--card-radius, var(--card-radius));
    box-shadow: var(--card-shadow, var(--card-shadow));
    overflow: hidden; 
    border: var(--border-xs) solid var(--border-color); 
}



.card__header {
    padding: var(--card-padding);
    padding-bottom: var(--space-xs); 
    border-bottom: var(--border-xs) solid var(--border-color);
    font-size: var(--font-lg);
    font-family: var(--font-heading);
    color: var(--foreground-color-dark);
}

.card__body {

    padding: var(--card-padding);
    flex-grow: 1;
}

.card__footer {
    padding: var(--card-padding);
    padding-top: var(--space-xs); 
    border-top: var(--border-xs) solid var(--border-color);
    background-color: var(--background-color-lighter);
    color: var(--foreground-color-subtle);
}