.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color);
}

.register-title {
  font-family: var(--font-title);
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.icon-upload-wrapper {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0.75rem 0rem;
}

.icon-preview-container {
  margin: 0.3rem;
}

.icon-upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color-light);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--foreground-color);
}


.icon-upload-button:hover {
  background-color: var(--accent-color-light);
}

.register-error {
  background-color: var(--danger-color);
  color: var(--foreground-color-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.login-link {
    margin: 1rem;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

