---
import Header from "./Header";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>Topicalbird</title>
	</head>
	<body>
		<Header client:only="react" />
	</body>
	<main class="main-container">
		<slot />
	</main>
</html>
