---
import { Footer } from "./Footer/Footer";
import Header from "./Header/Header";
---

<html lang="en" class="theme-mint">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon_white.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>Topicalbird</title>
	</head>
	<body>
		<Header client:only="react" />
	</body>
	<main class="main-container">
		<slot />
	</main>
	<Footer client:only="react" />

</html>
