.embla {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.embla__container {
  display: flex;
  touch-action: pan-y;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__slide img {
  max-height: 80vh;
  max-width: 100%;
  object-fit: contain;
  border-radius: 0.75rem;
}