.checkbox-container *,
.checkbox-container ::after,
.checkbox-container ::before {
    box-sizing: border-box;
}

:root {
    --checkbox-size: 1rem;
    --gap: 0.5rem;
}

.checkbox-container .cbx {
    position: relative;
    display: block;
    float: left;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border-radius: 4px;
    outline: var(--border-sm) solid var(--border-color);
    background-color: var(--background-color-light);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}

.checkbox-container .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}

.checkbox-container .cbx+span {
    float: left;
    margin-left: 6px;
}

.checkbox-container {
    user-select: none;

}

.checkbox-container label {
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-container input[type="checkbox"]:checked+.cbx {
    background-color: #606062;
    background-image: linear-gradient(to bottom,
            var(--accent-color-light),
            var(--accent-color));
}

.checkbox-container input[type="checkbox"]:checked+.cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}