.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-decoration: none;
    padding: 0 1rem;
}

.title-icon {
    width: var(--size-3xl);
    transition: 0.2s ease-in-out;
}

.title-container:hover .title-icon {
    filter: drop-shadow(0 0 0 var(--accent-color));
}

.typewriter-text {
    display: flex;
    justify-self: center;
    position: relative;
}

.typewriter-text span {
    display: inline-block;
    font-size: 2.5rem;
    font-family: var(--font-title);
    transition: transform 0.01s ease-in-out, color 0.3s ease-out;
    color: var(--accent-color-dark, var(--accent-color));
}

.typewriter-text:hover span {
    color: var(--accent-color);
}