.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding-right: 1rem;
}

.title-icon {
    width: var(--size-3xl);
    transition: 0.2s ease-in-out;
}

.title-container:hover .title-icon {
    filter: drop-shadow(0 0 0 var(--accent-color));
}

.typewriter-text {
    opacity: 0;
    display: flex;
    justify-self: center;
    position: relative;
    text-decoration: underline wavy transparent var(--size-xs);
    transition: ease-out 150ms;
    

}

.title-container:focus {
    outline: none;
    text-decoration: underline wavy var(--accent-color) var(--size-xs);
}

.typewriter-text span {
    font-weight: bolder;
    display: inline-block;
    font-size: 2.5rem;
    font-family: var(--font-title);
    transition: transform 300ms ease-in-out, color 300ms ease-out;
    color: var(--accent-color-dark, var(--accent-color));
}

.typewriter-text:hover span {
    color: var(--accent-color);
    text-decoration: underline wavy var(--accent-color) var(--size-xs);
}

@media (min-width: 900px) {
    .typewriter-text {
        opacity: 1;
    }
}