/* ---------------------------
   User Info Card
--------------------------- */

.user-page {
  display: flex;
  gap: 6rem;
  align-items: flex-start;
}


.user-info-card {
  flex: 0 0 20%;
}

.user-posts {
  flex: 1; /* Take remaining space */
}

@media (max-width: 768px) {
  .user-page {
    flex-direction: column;
  }

  .user-info-card {
    flex: none;
    width: 100%;
  }
}


.user-info-card {
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  text-align: center;
}

.user-info-card img.user-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid var(--accent-color);
}

.user-info-card h2 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.user-info-card p {
  font-family: var(--font-body);
  font-size: 1rem;
  margin: 5px 0;
  color: var(--text-color);
}

.settings-link {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 18px;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.settings-link:hover {
  background-color: var(--color-midnight-700);
}

.user-icon-container {
    display: flex;
    justify-content: center;
}

.user-title-container {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-title-container > span {
    padding: 0;
    margin: 0;
}
.user-title-container > img {
    display: block;
}

/* ---------------------------
   User Posts Section
--------------------------- */
.user-posts {
  border-top: 1px solid var(--color-slate-700);
  padding-top: 25px;
}

.user-posts h3 {
  font-family: var(--font-title);
  font-size: 1.5rem;
  margin-bottom: 15px;
  /* color: var(--accent-color); */
}

.user-posts p {
  color: var(--text-color);
}
